@font-face {
  font-family: 'Urbanist Bold';
  src: url(../../fonts/Urbanist-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Urbanist Semibold';
  src: url(../../fonts/Urbanist-SemiBold.ttf);
  font-weight: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Urbanist Regular';
  src: url(../../fonts/Urbanist-Regular.ttf);
  font-weight: normal;
}
