// FONTS
$font-regular: 'Urbanist Regular', sans-serif;
$font-semibold: 'Urbanist Semibold', sans-serif;
$font-bold: 'Urbanist Bold', sans-serif;

// COLORS
$color-white: #fff;
$color-primary: #3754f1;
$color-secondary: #00199f;
$color-grey: #777;
$color-text: #313237;
$bg-blur: rgba(233, 239, 255, 0.5);

$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-bgc-and-hbr: #fafbfc;
$color-green: #27ae60;
$color-red: #eb5757;

// PARAMS
$transition-time: 0.3s;
$scale-value: 1.1;
$big-increase: 1.5;
